**Import libraries**

In [1]:
import pandas as pd

## **Viviendas (test)**

In [4]:
viv_01 = pd.read_csv("Data\Viviendas\CNPV2018_1VIV_A2_05.CSV")
viv_02 = pd.read_csv("Data\Viviendas\CNPV2018_1VIV_A2_08.CSV")
viv_01.head(5)

<>:1: SyntaxWarning: invalid escape sequence '\V'
<>:2: SyntaxWarning: invalid escape sequence '\V'
<>:1: SyntaxWarning: invalid escape sequence '\V'
<>:2: SyntaxWarning: invalid escape sequence '\V'
C:\Users\Carlos\AppData\Local\Temp\ipykernel_8828\2436283688.py:1: SyntaxWarning: invalid escape sequence '\V'
  viv_01 = pd.read_csv("Data\Viviendas\CNPV2018_1VIV_A2_05.CSV")
C:\Users\Carlos\AppData\Local\Temp\ipykernel_8828\2436283688.py:2: SyntaxWarning: invalid escape sequence '\V'
  viv_02 = pd.read_csv("Data\Viviendas\CNPV2018_1VIV_A2_08.CSV")

,TIPO_REG,U_DPTO,U_MPIO,UA_CLASE,U_EDIFICA,COD_ENCUESTAS,U_VIVIENDA,UVA_ESTATER,UVA1_TIPOTER,UVA2_CODTER,...,VB_ACU,VC_ALC,VD_GAS,VE_RECBAS,VE1_QSEM,VF_INTERNET,V_TIPO_SERSA,L_TIPO_INST,L_EXISTEHOG,L_TOT_PERL
0,1,5,1,1,1,3646,5,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,2.0,2.0,1.0,NaN,NaN,NaN
1,1,5,1,1,1,3649,6,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,2.0,1.0,1.0,NaN,NaN,NaN
2,1,5,1,1,1,3658,38,NaN,NaN,NaN,...,1.0,1.0,2.0,1.0,2.0,1.0,1.0,NaN,NaN,NaN
3,1,5,1,1,1,3662,40,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,2.0,1.0,1.0,NaN,NaN,NaN
4,1,5,1,1,1,3666,39,NaN,NaN,NaN,...,1.0,1.0,2.0,1.0,2.0,1.0,1.0,NaN,NaN,NaN

**Merge test**

In [6]:
viv_merge = pd.concat([viv_01, viv_02])
viv_merge

,TIPO_REG,U_DPTO,U_MPIO,UA_CLASE,U_EDIFICA,COD_ENCUESTAS,U_VIVIENDA,UVA_ESTATER,UVA1_TIPOTER,UVA2_CODTER,...,VB_ACU,VC_ALC,VD_GAS,VE_RECBAS,VE1_QSEM,VF_INTERNET,V_TIPO_SERSA,L_TIPO_INST,L_EXISTEHOG,L_TOT_PERL
0,1,5,1,1,1,3646,5,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,2.0,2.0,1.0,NaN,NaN,NaN
1,1,5,1,1,1,3649,6,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,2.0,1.0,1.0,NaN,NaN,NaN
2,1,5,1,1,1,3658,38,NaN,NaN,NaN,...,1.0,1.0,2.0,1.0,2.0,1.0,1.0,NaN,NaN,NaN
3,1,5,1,1,1,3662,40,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,2.0,1.0,1.0,NaN,NaN,NaN
4,1,5,1,1,1,3666,39,NaN,NaN,NaN,...,1.0,1.0,2.0,1.0,2.0,1.0,1.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
681904,1,8,849,3,3,3856,1,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
681905,1,8,849,3,3,25656,1,2.0,NaN,NaN,...,1.0,2.0,2.0,2.0,NaN,2.0,6.0,NaN,NaN,NaN
681906,1,8,849,3,3,4846098,1,2.0,NaN,NaN,...,2.0,2.0,2.0,2.0,NaN,2.0,2.0,NaN,NaN,NaN
681907,1,8,849,3,4,25654,1,2.0,NaN,NaN,...,1.0,2.0,2.0,2.0,NaN,2.0,2.0,NaN,NaN,NaN
681908,1,8,849,3,4,4846088,1,2.0,NaN,NaN,...,2.0,2.0,2.0,2.0,NaN,2.0,2.0,NaN,NaN,NaN

In [7]:
v03 = "Data\Viviendas\CNPV2018_1VIV_A2_11.CSV"
viv_03 = pd.read_csv(v03)

<>:1: SyntaxWarning: invalid escape sequence '\V'
<>:1: SyntaxWarning: invalid escape sequence '\V'
C:\Users\Carlos\AppData\Local\Temp\ipykernel_8828\2489264297.py:1: SyntaxWarning: invalid escape sequence '\V'
  v03 = "Data\Viviendas\CNPV2018_1VIV_A2_11.CSV"

In [8]:
viv_03

,TIPO_REG,U_DPTO,U_MPIO,UA_CLASE,U_EDIFICA,COD_ENCUESTAS,U_VIVIENDA,UVA_ESTATER,UVA1_TIPOTER,UVA2_CODTER,...,VB_ACU,VC_ALC,VD_GAS,VE_RECBAS,VE1_QSEM,VF_INTERNET,V_TIPO_SERSA,L_TIPO_INST,L_EXISTEHOG,L_TOT_PERL
0,1,11,1,1,1,60428,1,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,2.0,1.0,1.0,NaN,NaN,NaN
1,1,11,1,1,1,60478,1,NaN,NaN,NaN,...,1.0,1.0,2.0,1.0,3.0,1.0,1.0,NaN,NaN,NaN
2,1,11,1,1,1,60515,1,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,3.0,1.0,1.0,NaN,NaN,NaN
3,1,11,1,1,1,60705,4,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,11,1,1,1,60706,3,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2524422,1,11,1,3,340,902077201,1,2.0,NaN,NaN,...,1.0,1.0,9.0,1.0,3.0,9.0,9.0,NaN,NaN,NaN
2524423,1,11,1,3,341,902099863,1,2.0,NaN,NaN,...,1.0,1.0,1.0,1.0,2.0,1.0,1.0,NaN,NaN,NaN
2524424,1,11,1,3,342,902106667,1,2.0,NaN,NaN,...,1.0,1.0,1.0,1.0,3.0,1.0,9.0,NaN,NaN,NaN
2524425,1,11,1,3,343,902107045,1,2.0,NaN,NaN,...,1.0,1.0,1.0,1.0,3.0,1.0,1.0,NaN,NaN,NaN
2524426,1,11,1,3,344,902160076,1,2.0,NaN,NaN,...,1.0,1.0,1.0,1.0,3.0,1.0,1.0,NaN,NaN,NaN

## **Viviendas concat**

**Concat loop**